body{
    position: relative;
    background: #5d0000;
}
li{
    display: list-item;
    list-style: none;
}
a{
    color: #c2c3c4;
    text-decoration: underline;
}
a img{
    border: none;
    vertical-align: bottom;
}
p{
    color: #c2c3c4;
    font-size: 15px;
    line-height: 20px;
}
header{
    padding: 10px 0  15px;
}
header h3{
    color: #c19d21;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.head_phone p.tl{
    padding-left: 35px;
    line-height: 31px;
    color: #c19d21;
    background: url(../img/icon_phone.png) no-repeat -4px 0;
    position: relative;
}
.head_adress p.li{
    line-height: 31px;
    padding-left: 22px;
    background: url(../img/icon_map.png) no-repeat 0 7px;
}
.head_adress p.em{
    line-height: 31px;
    padding-left: 22px;
    background: url(../img/icon_mail.png) no-repeat 0 7px;
}


#responsive-menu {
    display: block;
    height: 56px;
    background: url(../img/menu_bg.png) no-repeat;
    background-size: 100% auto;
}
#responsive-menu ul li:first-child{
    padding-left: 25px;
    background: none;
}
#responsive-menu ul li{
    text-align: center;
    display: inline-block;
    padding: 0px 25px 0px 25px;
    background: url(../img/menu_separator.png) no-repeat left 1px;
}
#responsive-menu ul li a{
   
    text-transform: uppercase;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 0 1px 0 rgba(7,9,13,.7);
}
#responsive-menu ul li:last-child{
    padding-right: 26px;  
    padding-left: 37px;
    padding-top: 9px;
}
#responsive-menu ul li:last-child a{
    color: #fff;
    font-size: 18px;
    padding: 5px 10px;    
    border-radius: 5px;
    background: #ffcb00;
    background: -webkit- linear-gradient(180deg, #ffcb00 0%, #ffa200 70%);
    background: -moz- linear-gradient(180deg, #ffcb00 0%, #ffa200 70%);
    background: -moz- linear-gradient(180deg, #ffcb00 0%, #ffa200 70%);
    background: linear-gradient(180deg, #ffcb00 0%, #ffa200 70%);
}

.under_line{
    border-bottom: 1px solid #1d2021;
    box-shadow: 0px 1px 0px 0px #3b3e40;
}

.text_center{
    text-align: center;
}
.reasons {
    margin:10px 0 30px;
    padding:10px 0 20px;
}
.reasons h2 {
    font-weight: 900;
    text-transform: uppercase;
    color: #c19e21;
    display: inline-block;
    margin-bottom: 12px;
}
.reasons ul {
    text-align: center;
}
.reasons ul li {
    display: inline-block;
    max-width: 12.5%;
    margin: 0 12px;
    vertical-align: top;
}
.reasons ul li div {
    text-decoration: none;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
	cursor:default;
}
.reasons ul li div img {
    display: inline-block;
    border: 3px solid #c19d21;
    border-radius: 50%;
    padding: 8px;
    margin-bottom: 25px;
}
.reasons ul li div span {
    display: block;
	color:#c2c3c4;
	font-size:12px;
}

.animated-icon img, .animated-icon i{
    transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -webkit-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;    
}
.animated-icon:hover img, .animated-icon:hover i{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); 
}

.services {
    margin-bottom: 25px;
}
.service_item {
    padding: 15px 10px;
    margin-bottom: 30px;
    background: #232628;
    text-transform: uppercase;
}
.service_item h4 {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    margin: 10px 0;
}
.service_item h4 span {
    padding-left: 52%;
}
.service_item_title {
    min-height: 43px;
}

